{% extends "base.html" %} {% block title %}Panel Profesional{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/styles_profesional_dashboard.css" />
{% endblock %}
{% block nav %}
{% include 'includes/nav_profesional.html' %}
{% endblock %} {% block content %}
<div class="hero-section text-center animate-in">
  <h1>Bienvenido/a, {{ usuario.nombre }} {{ usuario.apellidos }}</h1>
  <p class="subtitle">
    {{ usuario.categoria }} - {{ usuario.centro_asignado }}
  </p>
</div>


{% endblock %}
