{% extends "base.html" %} {% block title %}Panel Profesional{% endblock %} {%
block nav %}
<nav class="top-nav">
  <div class="nav-links">
    <a href="/profesional_dashboard" style="color: var(--accent-color)"
      >Mi Dashboard</a
    >
    <a href="/profesional/ver_cuadrante">Ver Cuadrante</a>
    {% set categorias_permitidas = ["Médico/a", "DUE", "Celador/a-Conductor/a"]
    %} {% if usuario.categoria in categorias_permitidas %}
    <a href="/profesional/pedir_cambio">Pedir Cambio de Turno</a>
    <a href="/profesional/solicitudes_cambio">Solicitudes de Cambio</a>
    <a href="/profesional/historico_cambios">Histórico de Cambios</a>
    {% endif %}
  </div>
  <div class="nav-actions">
    <a href="/cambiar_password" class="btn-password">Cambiar Contraseña</a>
    <a href="/logout" class="btn-logout">Cerrar Sesión</a>
    <a
      href="/descargar_pdf_dia"
      class="btn-pdf-global"
      title="Ver quién trabaja hoy"
      >📄 ¿Quién trabaja hoy?</a
    >
  </div>
</nav>
{% endblock %} {% block content %}
<div class="hero-section text-center animate-in">
  <h1>Bienvenido/a, {{ usuario.nombre }} {{ usuario.apellidos }}</h1>
  <p class="subtitle">
    {{ usuario.categoria }} - {{ usuario.centro_asignado }}
  </p>
</div>


{% endblock %}
