# CONFIGURACIÓN DE BASE DE DATOS
MONGO_USER=root
MONGO_PASSWORD=rootpassword
MONGO_DB=guardias
MONGO_HOST=mongodb

# CONFIGURACIÓN DE APLICACIÓN
FLASK_PORT=8000
# SECRET_KEY será generada automáticamente por docker_start.sh si se usa el script
SECRET_KEY=
